.home-bg {
  background-image: url("https://thumbs.dreamstime.com/b/food-cooking-background-ingredients-preparation-vegan-dishes-vegetables-roots-spices-mushrooms-herbs-old-cutting-board-140717802.jpg");
  backdrop-filter: blur(8px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}
